---
layout: archive
paginate: 1 # amount of posts to show
paginate_path: /page:num/
---

{{ content }}

{% assign tags_max = 0 %}
{% for tag in site.tags %}
  {% if tag[1].size > tags_max %}
    {% assign tags_max = tag[1].size %}
  {% endif %}
{% endfor %}

<ul class="taxonomy__index">
  {% for i in (1..tags_max) reversed %}
    {% for tag in site.tags %}
      {% if tag[1].size == i %}
        {% assign tag_word = tag[0] %}
        {% if site.data.tags contains tag_word %}
          <li>
            <a href="#{{ tag_word | slugify }}">
              <strong data-tag="{{tag_word}}">{{ site.data.tags[tag_word].name }}</strong> <span class="taxonomy__count" data-tag="{{tag_word}}">{{ i }}</span>
            </a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

{% assign tags_max = 0 %}
{% for tag in site.tags %}
  {% if tag[1].size > tags_max %}
    {% assign tags_max = tag[1].size %}
  {% endif %}
{% endfor %}

<ul class="taxonomy__index">
  {% for i in (1..tags_max) reversed %}
    {% for tag in site.tags %}
      {% if tag[1].size == i %}
        <li>
          <a href="#{{ tag[0] | slugify }}">
            <strong>{{ tag[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

<!-- {% assign entries_layout = page.entries_layout | default: 'list' %}
{% for i in (1..tags_max) reversed %}
  {% for tag in site.tags %}
    {% if tag[1].size == i %}
      {% assign tag_word = tag[0] %}
      {% if site.data.tags contains tag_word %}
        <div class="entries-{{ entries_layout }}">
          {% for post in tag.last %}
            {% include archive-single.html type=entries_layout %}
          {% endfor %}
        </div>  
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %} -->

<!-- {% assign posts = site.posts %}
{% for post in posts %} {% include archive-single.html type=page.entries_layout %} {% endfor %}

{% include paginator.html %} -->